In [15]:
import numpy as np
import pandas as pd
import matplotlib as plt
import bokeh as bk
import quandl

%matplotlib inline

In [7]:
quandl.ApiConfig.api_key = 'Mror8Ww3qg5e947A7Fhj'

quandl_code = 'EIA/PET_RWTC_D'

data = quandl.get(quandl_code, returns="pandas")

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7990 entries, 1986-01-02 to 2017-08-21
Data columns (total 1 columns):
Value    7990 non-null float64
dtypes: float64(1)
memory usage: 124.8 KB

In [9]:
data.head()

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

In [10]:
data.describe()

             Value
count  7990.000000
mean     42.999972
std      29.866549
min      10.250000
25%      19.460000
50%      28.690000
75%      62.547500
max     145.310000

In [11]:
data.tail()

            Value
Date
2017-08-15  47.57
2017-08-16  46.80
2017-08-17  47.07
2017-08-18  48.59
2017-08-21  47.39

In [13]:
data.keys()

Index([u'Value'], dtype='object')

In [16]:
# Try doing bokeh plot

from bokeh.plotting import figure, output_file, show

# output to static HTML file
output_file("lines.html")

# create a new plot with a title and axis labels
p = figure(title="simple line example", x_axis_label='date', y_axis_label='stock value')

# add a line renderer with legend and line thickness
p.line(data.index, data.Value, legend="Temp.", line_width=2)

# show the results
show(p)