In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import bokeh as bk
import quandl

%matplotlib inline

In [2]:
quandl.ApiConfig.api_key = 'Mror8Ww3qg5e947A7Fhj'

quandl_code = 'EIA/PET_RWTC_D'

data = quandl.get(quandl_code, returns="pandas")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7995 entries, 1986-01-02 to 2017-08-28
Data columns (total 1 columns):
Value    7995 non-null float64
dtypes: float64(1)
memory usage: 124.9 KB

In [4]:
data.head()

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

In [6]:
data.tail()

            Value
Date
2017-08-22  47.65
2017-08-23  48.45
2017-08-24  47.24
2017-08-25  47.65
2017-08-28  46.40

In [7]:
data.keys()

Index([u'Value'], dtype='object')

In [ ]:
# Try doing bokeh plot

from bokeh.plotting import figure, output_file, show

# output to static HTML file
output_file("lines.html")

# create a new plot with a title and axis labels
p = figure(title="simple line example", x_axis_label='date', y_axis_label='stock value')

# add a line renderer with legend and line thickness
p.line(data.index, data.Value, legend="Temp.", line_width=2)

# show the results
show(p)

In [8]:
# Load list of stock codes (currently static CSV version downloaded from Quandl

stock_codes = pd.read_csv('WIKI-datasets-codes.csv', header=None)
stock_code_list = stock_codes[0].tolist()
stock_code_list = [w.replace('WIKI/', '') for w in stock_code_list]

In [17]:
stock_code_df = pd.DataFrame(np.array(stock_code_list).reshape(-1,1), columns = list("c"))

In [21]:
stock_code_df['code_len'] = stock_code_df['c'].str.len()

In [22]:
stock_code_df.head()

      c  code_len
0  AAPL         4
1    AA         2
2  ABBV         4
3   ABC         3
4   ABT         3

In [23]:
stock_code_df['code_len'].max()

5

In [24]:
stock_code_df['code_len'].min()

1